<!doctype html>
<html lang="en">
<!--
  This is a template for index.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file.
  The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Validation using reselect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    .highlight { border: 1px solid #fec63d; background: #fed; }
    .valid::after { content: '\2713'; color: green; padding-left: 8px; }
    .invalid::after { content: '!!!'; color: red; padding-left: 8px; }
    .message { color: #fec63d; padding-left: 10px; }
    button[disabled] { color: #999; cursor: not-allowed; }
  </style>
</head>
<body>
  <div id="app"></div>
</body>
</html>
